---
# Plan du site pour les moteurs de recherche (sitemap.xml).
# Il n'est utile que si « siteUrl » est rempli dans les réglages.
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
{%- if item.url and item.url.endsWith("/") %}
  <url><loc>{{ settings.siteUrl | replace(r/\/$/, "") }}{{ item.url }}</loc></url>
{%- endif %}
{%- endfor %}
</urlset>
